<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Home</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="{{ root_url }}/blog/books">Books</a></li>
  <li><a href="{{ root_url }}/blog/links">Links</a></li>
  <!-- <li><a href="{{ root_url }}/blog/programs">Tech</a></li> -->
  <!-- <li><a href="{{ root_url }}/blog/linux">Linux</a></li> -->
  <!-- <li><a href="{{ root_url }}/blog/thinking">Thinking</a></li> -->
  <li><a href="{{ root_url }}/blog/aboutme">About</a></li>
</ul>
